@page "/counter"

@inject CounterState CounterState

<h1>Counter</h1>

<p>Current count: @CounterState.CounterValue</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {

    protected override void OnInitialized()
    {
        CounterState.OnChanged += () => StateHasChanged();
    }


	private void IncrementCount()
	{
		CounterState.Increment();
	}
}
